[submodule "plugins/gateplugin-JdbcLookup"]
	path = plugins/JdbcLookup
	url = gateservice2.dcs.shef.ac.uk:/data/git/gate-plugins/JdbcLookup
[submodule "plugins/gateplugin-TwitterExpander"]
	path = plugins/TwitterExpander
	url = gateservice2.dcs.shef.ac.uk:/data/git/gate-plugins/TwitterExpander.git
[submodule "plugins/gateplugin-Evaluation"]
	path = plugins/gateplugin-Evaluation
	url = https://github.com/johann-petrak/gateplugin-Evaluation.git
[submodule "plugins/Evaluation"]
	path = plugins/Evaluation
	url = https://github.com/johann-petrak/gateplugin-Evaluation.git
[submodule "plugins/ModularPipelines"]
	path = plugins/ModularPipelines
	url = https://github.com/johann-petrak/gateplugin-ModularPipelines.git
[submodule "plugins/Learning_Framework"]
	path = plugins/Learning_Framework
	url = gateservice2.dcs.shef.ac.uk:/data/git/gate-plugins/Learning_Framework.git
[submodule "plugins/YodiePlugin"]
	path = plugins/YodiePlugin
	url = gateservice2.dcs.shef.ac.uk:/data/git/gate-plugins/YodiePlugin.git
[submodule "plugins/Java"]
	path = plugins/Java
	url = https://github.com/johann-petrak/gateplugin-Java.git
